/* * {
  background-image: url("https://img.freepik.com/premium-photo/sea-sunset-with-sunset-sun_104337-8733.jpg");
background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Tiro+Devanagari+Hindi:ital@1&display=swap") */


/* * {
  background-color: #F2EE9D;
} */
